body {
  margin: 0;
  background-image: linear-gradient(to right, #8e2de2, #4a00e0);
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.App {
  width: 75%;
  margin: 0 auto;
}

.header {
  padding-top: 80px;
}

.header button {
  float: right;
  background-color: white;
  height: 50px;
  width: 200px;
  font-size: 24px;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
  color: rgb(41, 92, 204);
  border-radius: 20px;
}

.section {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  transform: translate(-50%, -50%);
  height: 300px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: white;
  border-radius: 100px;
}

.section2 {
  margin: 0 auto;
  width: 85%;
}

.wallet {
  float: right;
  text-align: right;
  font-size: 22px;
}

.wallet-top {
  margin-bottom: 10px;
}

.inner-section {
  font-size: 18px;
  margin-top: 120px;
}

.inner-section div {
  margin-bottom: 20px;
}

.inner-section button,
.mine button {
  outline: none;
  border: none;
  height: 50px;
  width: 180px;
  background-color: rgb(41, 92, 204);
  color: white;
  font-size: 18px;
  border-radius: 10px;
}

.inner-section button:hover,
.mine button:hover {
  background-color: rgb(49, 131, 255);
  cursor: pointer;
}

#form input {
  margin-right: 20px;
  height: 46px;
  font-size: 18px;
  padding-left: 20px;
  width: 80px;
  border-radius: 10px;
  border: 2px solid rgb(41, 92, 204);
}


.lds-roller {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: black;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}